.form-container {
    width: 50%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  .form-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-field input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .form-submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #45a049;
  }


  .marginica{
    margin-top: 100px;
    margin-bottom: 100px;
  }



  .countDesign{
    font-weight: bold;
    color: darkcyan;
  }

  .countText{
    color:black;
    font-weight: 300;
  }


  .redText{
    color:brown;
    font-weight: bold;
  }